p.body{
	font-family: "Nanum Myeongjo", monospace;
	color: white;
	text-align: left;
	font-size: 30px

}

#italic{
	color:white;
	text-align: left;
	font-size: 20px
}

#link{
	color:white;
	text-align: right;
	font-size: 20px;
}
h1{
	font-family: "Notable", monospace;
	border: 5px dotted navajowhite;
	padding: 10px;
	color: white;
	text-align: center;
	font-size: 50px
}

h2{
	color: white;
	text-align: center;
	font-size: 40px
}

body{
background: url("https://images.unsplash.com/photo-1530508777238-14544088c3ed?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
background-repeat: no-repeat;
background-size: cover;
}